/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
/.vscode
.env
/.phpunit.cache
/vendor
/package
composer.lock
composer.phar
.phpunit.result.cache
phpunit.xml.dist
.idea
package-lock.json
/node_modules